body {
  font-family: "Roboto Mono", monospace;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  text-align: center;
}

.main-font {
  font-size: 20px;
}

.small-font,
.forecast-font {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.center-section {
  text-align: center;
}

.col-9 {
  flex: 0 0 auto;
  width: 50%;
}

.icon {
  width: 100px;
}

.big-icon-spacing {
  margin-top: 20px;
}

.font-spacing {
  margin-top: 10px;
}

.search-icon {
  padding-top: 47px;
  width: 30px;
}

.small-icon {
  margin-top: 10px;
  width: 40px;
}

.capitalize-text {
  text-transform: capitalize;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  color: rgb(33, 33, 33);
}

.footer {
  margin-top: 20px;
  text-align: center;
}
